@media only screen and (max-width: 600px) {
    #grid {
        grid-template: 1fr 1fr 1fr 1fr 1fr/ 1fr;
        grid-auto-flow: column;
    }


    #grid div:not(#a,#b) {
        background-color: red;
    }

    #grid #a {
        grid-column: 1 / 1;
        grid-row: 1;
    }

    #grid #b {
        grid-column: 1/1;
    }

    #flexbox div{
        background-color: aquamarine;
    }
}